body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:rgb(56, 54, 54);
    color: black;

}

header {
    background-color:rgb(41, 40, 40);
    color: rgb(61, 142, 153);
    padding: 20px 0;
    text-align: center;

}

header h1{
    margin: 0;
    font-size: 2.5em;

}
p{
    color: aliceblue;
    font-size: large;
}


section {
    padding:20px;
    margin: auto;
    max-width: 900px;

}

h2{
    color: rgb(61, 142, 153);
}

ul{
    list-style-type: square;
    color: aliceblue;

}

footer {
    background-color: rgb(73, 72, 72);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

div[card="card"] {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius:5px
}